# GNU Emacs temporary files

ChangeLog
\#*
.\#*
TAGS
*~
/downloads
/solr/vendor
/vendor
composer.phar
import/solrmarc.log*
node_modules
public/swagger-ui
.vagrant

# CARLI
all
carli_scripts
env.bat
local
local_deduped
nohup.out
public-all-vf*
public-vf*
solr_deduped
vf*
themes/???
