/* CSS for LFC */

a { /* Link color */
  color: #c31330;
}
a:visited { /* Link visited */
  color: #663333;
}
a:hover,a:focus,a:active { /* Link hover & focus */
  color: #96051e;
}
h2, h4 { /* Side Bar header #2 */
  color: #660000;
}
h3 { /* Title #4 */
  color: #ad001f;
}
.facet-group .title { /* Facet Label #3 */
  color: #96051e;
}
