/* css KIS */
a {  /* Link color */
  color: #2a4e98;
}
a:visited { /* Link visited */
  color: #2a4e98;
}
a:hover,a:focus,a:active {  /* Link hover & focus */
  color: #4a6396;
}
h2, h4 {  /* Side Bar header #2 */
  color:#006699;
}
h3 {  /* Title #4 */
  color:#1A3E7A;
}
.facet-group .title {  /* Facet Label #3 */
  color:#000000
}
.sidebar .facet.active, .sidebar .facet.active:hover, .sidebar .active-filters .facet { /* background for right sidebar in search */
  color: #ffffff;
  background: #006699;
  border-color: #006699;
}